<!doctype html>
<html lang="ja">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>新規会員登録</title>
    </head>

    <body>
        <section class="vh-100" style="background-color: #508bfc;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
          
                      <h3 class="mb-5">New Account!</h3>
                      <form method="POST">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <label class="form-label" for="typeUsernameX-2">ユーザーID</label>
                            <input type="text" name="username" id="typeUsernameX-2" class="form-control form-control-lg"/>    
                        </div>
            
                        <div class="form-outline mb-4">
                            <label class="form-label" for="typePasswordX-2">パスワード</label>
                            <input type="password" name="password1" id="typePasswordX-2" class="form-control form-control-lg"/>    
                        </div>
                        
                        <div class="form-outline mb-4">
                            <label class="form-label" for="typePasswordX-2">パスワード確認用</label>
                            <input type="password" name="password2" id="typePasswordX-2" class="form-control form-control-lg"/>
                        </div>
                        <small class="d-block text-start">パスワードは8文字以上で設定してください。</small>
                        <br>

                        <div class="form-outline mb-4">
                          <label class="form-label" for="profile_pic">アバター写真：</label>
                          <form method="post" enctype="multipart/form-data" class="form-control form-control-lg">
                              {% csrf_token %}
                              {{ form }}
                              <input type="file" class="form-control form-control-lg" value="アップロード" onchange="previewFile(this);">
                          </form>
                          <br>
                          <p>プレビュー</p>
                          <img id="preview">
                        </div> 
                          <script>
                          function previewFile(hoge){
                            var fileData = new FileReader();
                            fileData.onload = (function() {
                              //id属性が付与されているimgタグのsrc属性に、fileReaderで取得した値の結果を入力することで
                              //プレビュー表示している
                              document.getElementById('preview').src = fileData.result;
                            });
                            fileData.readAsDataURL(hoge.files[0]);
                          }
                          </script>  
                        
                        <br>

                        

                        {% if form.errors %}
                        <span class="small text-danger d-block text-start">利用できないユーザーIDやパスワードです。再度入力してください。</span>
                        {% endif %}
          
                        <button class="btn btn-primary btn-lg btn-block col-12" type="submit">アカウント作成</button>
                        <br>
                        <br>
                        <a href="{% url 'login' %}">会員済みの方はこちら</a>
                     </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </body>
</html>